beautifulsoup4
black
fake_useragent
flake8
keras
matplotlib
mypy
numpy>=1.17.4
opencv-python
pandas
pillow
pytest
pytest-cov
requests
scikit-fuzzy
sklearn
sympy
tensorflow
xgboost
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
